:root {
    --main-text-color: #804000;
    --main-color: #603000;
    --sub-color: #c06000;
}

body {
    margin: 10px auto;
    max-width: 1000px;
    background-color: #fff0e0;
    display: flex;
}

#content {
    width: 80%;
    padding: 0 30px;
}

#sidebar {
    width: 20%;
    padding: 10px;
}

span::before {
    content: "　";
}

h1 {
    border-bottom: 2px solid var(--main-color);
    border-left: 8px solid var(--main-color);
    padding-left: 10px;
    color: var(--main-text-color);
}

h2 {
    border-left: 4px solid var(--main-color);
    padding-left: 10px;
    margin-left: 5px;
    color: var(--main-text-color);
}

li {
    list-style-type: none;
    margin-left: -30px;
    margin-bottom: 8px;
}

li::before {
    content: attr(title);
    color: var(--sub-color);
    font-weight: bold;
    font-size: 20px;
    padding: 3px 8px;
}